<div id="<%= dom_id food %>">
  <p>
    <strong>Food name:</strong>
    <%= food.food_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= food.category_id %>
  </p>

  <p>
    <strong>Start week:</strong>
    <%= food.start_week %>
  </p>

  <p>
    <strong>End week:</strong>
    <%= food.end_week %>
  </p>

  <p>
    <strong>Most product week:</strong>
    <%= food.most_product_week %>
  </p>

  <p>
    <strong>Is rare:</strong>
    <%= food.is_rare %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= food.image %>
  </p>

  <p>
    <strong>Recommend week:</strong>
    <%= food.recommend_week %>
  </p>

</div>
